{% extends 'base.html.twig' %}

{% block title %}Modifier la montre{% endblock %}

{% block main %}
    <h1>Modifier la montre</h1>

    {{ include('watch/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    {{ include('watch/_delete_form.html.twig') }}
	<br>
	<br>

	<a href="{{ path('rack_show', {'id': watch.rack.id}) }}">revenir au presentoire</a>

{% endblock %}
