{% extends 'base.html.twig' %}

{% block title %}Galerie index{% endblock %}

{% block main %}
    <h1>Galeries publiée</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for galerie in galeries %}
            {% if galerie.publiee %}
                <tr>
                    <td>{{ galerie.id }}</td>
                    <td>{{ galerie.name }}</td>
                    <td>{{ galerie.description }}</td>
                    <td>
                        <a href="{{ path('app_galerie_show', {'id': galerie.id}) }}">show</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">Aucun membre n'a publié de galerie</td>
            </tr>
        {% endfor %}      
        </tbody>
    </table>
{% endblock %}
