{% extends 'base.html.twig' %}

{% block title %}Nouvelle Galerie{% endblock %}

{% block main %}
    <h1>Nouvelle Galerie</h1>

    {{ include('galerie/_form.html.twig') }}
	<br>
	<a href="{{ path('member_show', {'id': galerie.creator.id}) }}">revenir au profil</a>
{% endblock %}
